@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #3B82F6;
  --color-cta: #F97316;
  --color-background: #EFF6FF;
  --color-foreground: #1E40AF;
  
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-barlow), sans-serif;
  overflow-x: hidden;
}
