@import "tailwindcss";

@theme {
  --color-primary: #00D1FF;
  --color-secondary: #0284C7;
  --color-cta: #F97316;
  --color-background: #0B0F19;
  --color-foreground: #FFFFFF;
  --color-card: #13192B;
  --color-card-border: #1E253A;

  --color-success: #00E58F;
  --color-warning: #FFB020;
  --color-error: #FF4A5A;
  --color-sport: #B388FF;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-barlow), sans-serif;
  overflow-x: hidden;
}